loguru==0.7.2
langserve[client]==0.2.2
langserve[server]==0.2.2
langchain==0.2.5
langchain-community==0.2.5
langchain-experimental==0.0.60

pymupdf==1.24.5
markdownify==0.12.1

tabula==1.0.5
pypdf2==3.0.1

tqdm==4.66.4
python-pptx==0.6.23
python-docx==1.1.2
pdfplumber==0.11.1
pillow==10.3.0
pandas==2.2.2
openpyxl