RUN_MODE=dev
LLM_FALLBACK_MODE=OPEN_AI  #FAST_GPT

DIFY_KEY=
DIFY_ENDPOINT=

FASTGPT_KEY=
FASTGPT_ENDPOINT=

OPENAI_KEY=
OPENAI_ENDPOINT=
OPENAI_API_TEMPERATURE=0.7

REDIS_HOST=
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

JENKINS_USERNAME=
JENKINS_PASSWORD=
JENKINS_URL=
