venv
.venv
.idea
.vscode
requirements.txt
.env
cache

.pytest_cache

pilot/models/*
pilot/tracker.db
pilot/tensorboard
__pycache__
pilot/endpoints-prod.yml
pilot/.rasa
pilot/credentials-prod.yml
*.zip
!munchkin/support-files/data/*

pilot/graph.html

munchkin/templates/*
munchkin/assets
munchkin/db.sqlite3
munchkin/nltk_data
site/node_modules
site/pnpm-lock.yaml

model_server/bce_rerank_server/models
model_server/bce_embed_server/models
model_server/fast_embed_server/models
model_server/chunk_server/models
model_server/chunk_server/tests/asserts/*.pdf
model_server/chunk_server/tests/asserts/*.xlsx
model_server/chunk_server/tests/asserts/*.docx
model_server/chunk_server/tests/asserts/*.pptx