.env
_trial_temp
venv
.idea
.rasa
models
__pycache__
graph.html
vec_db
local_data
cache/
weops
docs-website
.gitmodules
story_graph.dot
.pytest_cache
results
libs
tensorboard
.chroma
train_data
data/OpsPilot-WeOps-Addon
rasa-tracker.db
train_test_split
langchain.db
indexdir
llm_model
.vscode
faq_vec_db
weops-traindata
dev-config
node_modules