rasa==3.5.10
jieba==0.42.1
transformers==4.29.1
openai==0.27.6
python-dotenv==0.21.1
jenkinsapi==0.3.13
markdownify==0.11.6
loguru==0.7.0
neo4j==5.9.0

langchain==0.0.225
typing-inspect==0.8.0
typing_extensions==4.5.0
tiktoken==0.4.0
unstructured==0.7.3
pdf2image==1.16.3
chromadb==0.3.26
sentence_transformers==2.2.2

pgvector==0.1.8
faiss-cpu==1.7.4
pymysql==1.1.0
gptcache==0.1.34
pypdfium2==4.18.0
spacy==3.6.0

whoosh==2.7.4
trafilatura==1.6.1
docx2txt==0.8

pycryptodome==3.18.0
