Django==4.2.7
python-dotenv==1.0.0
django-split-settings==1.2.0
daphne==4.0.0
whitenoise==6.5.0
psycopg2-binary==2.9.9
django-comment-migrate==0.1.7
django-debug-toolbar==4.2.0
django-import-export==3.3.6
django-cors-headers==4.2.0

djangorestframework==3.14.0
django-filter==23.2
djangorestframework_simplejwt==5.3.0

django-celery-beat==2.5.0
django-celery-results==2.5.0
sqlalchemy==2.0.20
flower==2.0.1

drf-yasg==1.21.7

requests==2.31.0

pycryptodome==3.20.0

redis==5.0.1
django-auditlog==2.3.0

python-keycloak==3.7.0
singleton-decorator==1.0.0
pydantic==2.5.3
wrapt==1.16.0